@import "theme.scss";
@import "~bootstrap/scss/bootstrap";

.page-item {
    :focus {
        outline: none;
        box-shadow: none;
    }
}
.page-link {
    :focus {
        outline: none;
        box-shadow: none;
    }
}

.icon {
    width: 16px;
    height: 16px;
    fill: #333;
}

button.oi {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 0;

    &:hover,
    &:focus {
        outline: none;
        text-decoration: none;
    }

    &:hover {
        color: var(--primary);
    }
}

button.text {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 0;

    &:hover,
    &:focus {
        outline: none;
        text-decoration: none;
    }
}
